name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  setup:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [10, 12, 16]

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install project
        run: yarn install

      - name: Build project
        run: yarn run build --if-present

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Run lint
        run: yarn lint
    needs: setup

  compile:
    runs-on: ubuntu-latest
    steps:
      - name: Run tsc
        uses: icrawl/action-tsc@v1
    needs: setup

  coverage:
    runs-on: ubuntu-latest
    steps:
      - name: Run tests
        run: yarn test

      - name: Coverage
        run: yarn test -- --coverage && bash <(curl -s https://codecov.io/bash)

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
    needs: setup
